.signup {
    max-width: 400px;
    margin: 50px auto;
    padding: 24px;
    border-radius: 14px;
    background: #fff;
    border: 1px solid rgba(244, 6, 6, 0.45);
    box-shadow: 0 6px 18px rgba(239, 184, 184, 0.21);
    text-align: center;
}

.signup h2 {
    margin-bottom: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(244, 6, 6, 0.6);
}

.signup form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.signup input {
    padding: 12px 14px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(244, 6, 6, 0.45);
    outline: none;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.signup input:focus {
    border-color: rgba(227, 4, 4, 0.8);
    box-shadow: 0 0 8px rgba(227, 4, 4, 0.2);
}

.signup button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;

    background-color: #f6f6f6;
    border: 1px solid rgba(244, 6, 6, 0.45);
    color: rgba(244, 6, 6, 0.8);

    border-radius: 8px;
    cursor: pointer;
    /*transition: background-color 0.25s ease, transform 0.2s ease;*/
}

.signup button:hover {
    background-color: #f6f6f6;
    box-shadow: 0 4px 12px rgba(231, 63, 78, 0.3);
}

.signup p {
    margin-top: 20px;
    font-size: 0.95rem;
    color: #555;
}

.signup p a {
    color: rgba(244, 6, 6, 0.6);
    text-decoration: none;
    font-weight: 600;
}

.signup p a:hover {
    text-decoration: underline;
}
