*, *::before, *::after { box-sizing: border-box; }

.team {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 0;
    margin: 0;
}

/* Card container (matches your JSX class) */
.card {
    position: relative;
    width: 100%;
    height: 420px;
    margin: 0;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    cursor: pointer;
    perspective: 2000px; /* for flatter flipping, less number more drama */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

/* Faces – identical size, stacked, no layout jump */
.front, .back {
    position: absolute;
    inset: 0; /*covers the whole card*/
    backface-visibility: hidden; /* to not see mirrored photo, do not show*/
    border: 10px solid #E6E6FA;
    background: #eee;
    border-radius: 7px;
    overflow: hidden;
}

.front {
    background-position: center;
    background-size: cover;
}

/*!* Readability overlay on front *!*/
/*.front::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background: linear-gradient(to top, rgba(244, 6, 6, 0.45) 0%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0));*/
/*    pointer-events: none;*/
/*}*/

/* Name on the front */
.front-meta {
    position: absolute;
    right: 12px;
    bottom: 12px;
    /*z-index: 1; !*when it is overlay, it is gonna be higher than that*!*/
}

.front-name {
    margin: 0;
    padding: 6px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #8230BDFF;
    background: rgba(255,255,255,0.85);
}

/* Back side of the card */
.back {
    transform: rotateY(180deg);
    background: #E6E6FA;
    color: #111;
/*font color*/
    display: grid;
    grid-template-rows: 240px auto 1fr;
    position: relative;
}

.back img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

.back-name {
    position: absolute;
    top: 180px;
    left: -8px;
    background: rgb(130, 48, 189);
    color: #fff;
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: 12px;
}

.back-description {
    padding: 12px 14px 16px;
    overflow: auto;
}
