.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border-bottom: 1px solid rgba(244, 6, 6, 0.45);
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: relative; /*sticky*/
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-logo {
    width: 60px;
    height: 60px;
    border-radius: 1px;
    object-fit: cover;
}

.header-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: 500;
    /*transition: color 0.2s ease;*/
    transition: all 0.2s ease;
    padding: 6px 10px;
    border-radius: 6px;
}

.header-link:hover {
    background-color: #f9e6e6;
    color: #e33;
}

.icon {
    font-size: 1.1rem;
}
