div {
    font-family: 'Orbitron', sans-serif;
    color: #ffe81f;
    background: radial-gradient(circle at top, #000 60%, #111 100%);
    padding: 2rem;
    text-align: center;
}

strong {
    font-size: 1.4rem;
    text-shadow: 0 0 10px #ffe81f;
}

br {
    margin-bottom: 0.5rem;
}
